.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 90vw;
  aspect-ratio: 0.58;
  background-image: url(/images/paper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}
.container h2 {
  position: absolute;
  top: 10rem;
}

.text {
  font-size: 14px;
  padding: 0 2rem;
}
