@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

body {
  margin: 0;
  font-family: "Nanum Myeongjo", serif;
  background-color: #fffcf6b3;
  word-break: keep-all;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  cursor: pointer;
}

.paper,
.paper-content {
  width: 98vw;
  max-width: 600px;
  aspect-ratio: 0.5;
  object-fit: contain;
  border-radius: 12px;
  position: absolute;
  transition: opacity 1.8s ease-in-out;
}

/* 애니메이션 */
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-2px, 2px) rotate(-1deg);
  }
  40% {
    transform: translate(-2px, -2px) rotate(1deg);
  }
  60% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  80% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
}

.shake {
  animation: shake 1s ease-in-out 0s 2;
}

.blink {
  animation: blink 0.6s infinite alternate;
}

.blink.fade-out {
  animation: blink 1s infinite alternate;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.bottom-left-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(-25vw, 30vh);
  border: none;
  cursor: pointer;
  width: 100px;
  transition: opacity 2s ease-in-out;
}

.bottom-left-button img {
  width: 100%;
  height: auto;
}
